@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header h1 {
    font-size: 44px;
    font-family: 'Righteous', cursive;
    margin-bottom: 5px;
}

.header p {
    font-size: 18px;
}

.select-drink, .select-food {
    margin-bottom: 25px;
}

.select-dessert h2, .select-drink h2, .select-food h2 {
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    font-family: 'Righteous', cursive;
    margin-bottom: 15px;
}

.options {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 0 0 10px 0;
}

.item > div {
    width: 172px;
    padding: 14px;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 9px;
    position: relative;
}

.item ion-icon {
    display: none;
}

.selected-item-food, .selected-item-drink, .selected-item-dessert {
    border: 5px solid #32B72F;
    padding: 9px !important;
}

.selected-item-food > ion-icon, .selected-item-drink > ion-icon, .selected-item-dessert > ion-icon {
    display: block;
    font-size: 22px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    color: #32B72F;
}

.item > div > h3 {
    padding: 8px 0px 11px;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.item > div > p {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 18px;
}

.item > div > span {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.item > div > img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}

.options::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
}

.products-list-container {
    margin: 115px 0 130px;
    padding: 0px 15px;
}

.fixed-menu {
    padding: 15px 25px;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fixed-menu button {
    background-color: #CBCBCB;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 61px;
    font-weight: 400;
    cursor: pointer;
}

.enable-continue {
    background-color: #32B72F !important;
    font-weight: 700 !important;
}

.show-cfo {
    display: flex !important;
}

.container-finish-order {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.box-order {
    width: 90%;
    background-color: #50D074;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.box-order > h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.box-order > div {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 18px;
    text-align: left;
}

.box-order > div:last-of-type {
    font-weight: 700;
    margin-bottom: 30px;
}

.box-order button {
    font-weight: 700;
    font-family: 'Roboto';
    border: none;
    cursor: pointer;
}

.box-order > button:first-of-type {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 100px;
    height: 52px;
    font-size: 20px;
    color: #50d074;
    margin-bottom: 15px;
}

.box-order > button:last-of-type {
    font-size: 17px;
    background: none;
    color: white;
}

@media (max-width: 614px) {
    .options::-webkit-scrollbar {
        height: 0px;
    }
}